@using UnitOfWork.UI.Models
@model CustomerViewModel
@{
    ViewData["Title"] = "Fast";
}


<form method="post">
    <label class="form-label">Gönderici ID :</label>
    <input asp-for="SenderID" class="form form-control"/>
    <br />
    <label class="form-label">Alıcı ID :</label>
    <input asp-for="ReceiverID" class="form form-control" />
    <br />
    <label class="form-label">Gönderilecek Miktar:</label>
    <input asp-for="Amount" class="form form-control" />
    <br />
    <button class="btn btn-info">Gönder</button>
</form>

